* {
    font-family: Helvetica, Arial, sans-serif;
  }

  
  
  h1 {
    color: rgba(249, 245, 245, 0.7);
    font-size: 100px;
    
  }

  
  p, 
  li {
    font-size: 25px;
  }
  
  
  a {
    text-decoration: none;
  }
  

header {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 175px;
    padding-bottom: 333px;
    background-image: url(../images/front_page_img/banner\ picture.png);
    
}

#login {
  text-align: right;
  margin-right: 55px;
  border: 2px solid black;
  margin-left: 1015px;
  margin-right: 60px;
  margin-top: 15px;
  margin-bottom: 15px;
}

#founder {
  color: blueviolet;
}

.navagation {
  top: 0;
  width: 100%;
  background-color: purple;
  font-size: 20px;
  padding: 10px;
}

.navagation li {
  display: inline-block;
  padding: 0 20px;
}

.navagation a {
  text-decoration: none;
  color: black;
}

.main {
  position: relative;
}

.headtext {
  color: rgba(249 245, 245, 0.7);
  padding-top: 180px;
  
}

.introhead {
  text-align: right;
}

.toptext, 
.middletext, 
.bottomtext {
  text-align: center;
  align-items: center;
}

.text1, 
.text2, 
.text3 {
  font-size: 25px;
  padding-left: 300px;
  padding-right: 300px;
  line-height: 2em;
  border: 2px dotted purple;
  margin: 0 200px;
}

.pctable,
.pstable,
.actable,
.rfactor2table,
.f1table {
  text-align: center;
  margin-bottom: 20px;
  background-color: white;
  word-spacing: 1em;
}

.tabletype {
  font-size: 30px;
  color: black;
  word-spacing: 2em;
}

.adminbody {
  background-image: url(../images/front_page_img/FRL\ logo\ 2.png);
  background-size: 150px;
}

th,
td {
  border: 2px solid black;
}

.intoheading {
  text-align: right;
  font-size: 75px;
}

.psseries {
  font-size: 30px;
}

.psseriestext {
  font-size: 19px;
}
